@import 'https://fonts.googleapis.com/css?family=Raleway';

body {
	font-family: 'Raleway';
	/*background-color: #181A1B;
	color: #D3CFC9;*/
	padding: 50px;
}

input[type=submit]{
	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	padding: 0.5rem;
    border-radius: 0.3rem;
}

